@charset "utf-8";
/*page*/

/*하단 배너*/
.info08 {
	padding:0 !important;
	}

.info08 a{
	display: inline-block;
	width:100%;
	}

.info08 a img{
	width:100%;
	}



div a img {
    height: auto !important;;
    width:100% !important;;
}


/*전체 기사영역*/
    .info01 .title_area:nth-child(1) .title{
        padding-top: 0 !important;
    }

    .info01 a{
        height: 18px;
    }

    .info01 .title_area{
        padding: 0 5% !important;
    }

/*생활정보 영역*/
    .info03 .title_area{
        padding:0 5% !important;
    }

    .info03 .title_area:nth-child(1) .title{
        padding-top: 0 !important;
    }

/*요일별웹툰 , 인기웹툰 영역*/
    .info04 > div > div > ul{
        width: 90% !important;
        padding:0 5% !important;    
    }

/* 포토뉴스,핫토픽,인기신작 영역,*/
    .info02 > div{
        padding:0 5%;
    }

    .info02 > div > div {
        height: 100% !important;
    }

    .info02 > div > div > div{
        width: 32% !important;
        height: auto !important;
        position: relative !important;
        top:0 !important;
        left: 0 !important;
        display: inline-block !important;
        margin-right: 2%;
        float: left;
    }

    .info02 > div > div > div:last-child{
        margin-right: 0;
    }

    .info02 .layout{
        width: 100% !important;
        margin:0 !important;
    }

    .info02 .layout .thum{
        position: relative !important;
        top:0 !important;
        left: 0 !important;
    }
    .info02 .layout .summary{
        position: relative !important;
        top:0 !important;
        left: 0 !important;
        right: 0 !important;
        margin:0 !important;
        margin-top: 2% !important;
        font-family: "돋움",dotum !important;
    }

    .info02 .layout .summary a{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow:hidden;
    }

    .layout div.summary {
        display:block !important;
    }

/*best 신문보기 영역*/
    .info05 > div > div{
        padding:0 !important;
        border:0 !important;
    }

    .info05 > div > div > div{
        padding:1% 5% !important;
    }

    .info05 > div > div > div:first-child{
        padding-top:0 !important;
    }

/*광고 배너 영역*/
    .info06 img{
        padding:0 5%;
        box-sizing: border-box;
    }

/*best 웹툰 Top6 영역*/
    .info07 > div > div > ul{
        padding: 0 5% !important;
    }

    .info07 .hi_list_contents{
        border:0 !important;
    }